<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>{{page.title}}</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

  <!--     Fonts and icons     -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
  <link href="https://fonts.googleapis.com/css?family=Exo+2:700i" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

  <!-- CSS Files -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/css/custom.css" rel="stylesheet" />
  <link href="assets/css/material-kit.css" rel="stylesheet" />
  <link href="assets/css/styles.css" rel="stylesheet">



  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="assets/css/demo.css" rel="stylesheet" />

</head>

<body class="index-page">
  <!-- Navbar -->

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class ="navbar-brand navbar-brand-logo" href="http://freyproject.io/">
          <div class="logo">
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" class="img-fluid" viewBox="0 0 260 81.19">
            <defs>
              <style>
                .cls-1 {
                  fill: #fff;
                }
              </style>
            </defs>
            <title>Frey-White</title>
            <path class="cls-1" d="M132.7,109.45H75.45A19.61,19.61,0,0,1,94.81,92.94h34.83C137.47,92.94,142,103.56,132.7,109.45Z" transform="translate(-67.61 -92.94)" />
            <path class="cls-1" d="M116.32,133.93H71.53l2.64-16.51h40.78c7.3,0,11.73,9.23,4.78,15.24A5.21,5.21,0,0,1,116.32,133.93Z" transform="translate(-67.61 -92.94)" />
            <path class="cls-1" d="M82.47,157.54a2.87,2.87,0,0,1-2,.87H67.61L70.2,141.9h7.38C84.5,141.9,89.43,150.41,82.47,157.54Z" transform="translate(-67.61 -92.94)" />
            <path class="cls-1" d="M159.4,158.41,166,116.48c2.16-13.54,11.48-14.07,21.55-14.07,4.19,0,11.77.29,15.29.43l-1.63,10.28H185.67c-5.39,0-6.47,1.2-7.31,6.4l-.84,5.25h20.9l-1.65,10.5H175.84l-3.64,23.13Z" transform="translate(-67.61 -92.94)" />
            <path class="cls-1" d="M211.1,158.41H199.19L204,127.73c.48-3,1-5.51,1.7-8.39,5.18-2.95,12.06-4.2,17.91-4.2a33.61,33.61,0,0,1,4.55.26l-2.52,9.9a26.06,26.06,0,0,0-2.83-.17,16.55,16.55,0,0,0-6.4,1.2c-.46,1.73-.84,3.81-1.15,5.73Z" transform="translate(-67.61 -92.94)"
            />
            <path class="cls-1" d="M249.35,115.14c12.18,0,15.82,5.13,15.82,13.71a51.38,51.38,0,0,1-.7,7.69c-.19,1.2-.43,2.47-.74,3.69a181.17,181.17,0,0,1-19.32,2.13l-6.45.36a10.61,10.61,0,0,0-.07,1.17c0,4.05,2.54,5.15,7.62,5.15a120.69,120.69,0,0,0,15.32-1.15l-.46,9.35A107.76,107.76,0,0,1,241.53,159c-11.48,0-15.25-6-15.25-14.89a47,47,0,0,1,.62-7C229.35,121.57,235.23,115.14,249.35,115.14ZM244.86,134c2.4-.12,6-.43,8-.7.12-.41.24-1,.31-1.39a14.62,14.62,0,0,0,.19-2.18c0-3.28-1.58-5-5.56-5-6.5,0-8,4.05-8.87,9.61Z"
              transform="translate(-67.61 -92.94)" />
            <path class="cls-1" d="M297.8,115.72h12.27l-28.72,58.42h-12.3l9.68-18.84-10.5-39.58H281l5.61,24Z" transform="translate(-67.61 -92.94)" />
          </svg>
          </div>
        </a>

      </div>
      <div class="collapse navbar-collapse" id="navigation-index">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="">
                          Getting Started
                      </a>
          </li>
          <li>
            <a href="/docs/">
                          Docs
                      </a>
          </li>
          <li>
            <a href="http://github.com/kvz/frey" target="_blank">
                          Github
                      </a>
          </li>
          <li>
            <a href="#">
                          FAQ
                      </a>
          </li>
          <li>
            <a href="#">
                          Contact Us
                      </a>
          </li>

        </ul>


      </div>

    </div>
  </nav>


  <!-- End Navbar -->

  <div class="wrapper">
    <div class="header" style="background-image: url('assets/img/rocketbg1.jpg');">
        <a href="#">
          <svg class="header-logo" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 460 180" xml:space="preserve">
            <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="63.1961" y1="101.2023" x2="138.5399" y2="101.2023">
              <stop offset="0" style="stop-color:#3EA1DA" />
              <stop offset="1" style="stop-color:#003150" />
            </linearGradient>
            <path fill="url(#SVGID_1_)" d="M132.939,109.445l-57.172,0v0c1.522-9.498,9.717-16.484,19.336-16.484h34.78
      C137.702,92.96,142.237,103.566,132.939,109.445z" />
            <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="61.4468" y1="125.6499" x2="123.7981" y2="125.6499">
              <stop offset="0" style="stop-color:#3EA1DA" />
              <stop offset="1" style="stop-color:#003150" />
            </linearGradient>
            <path fill="url(#SVGID_2_)" d="M116.584,133.892H71.85l2.641-16.484h40.721c7.288,0,11.718,9.213,4.769,15.22
      C119.038,133.442,117.83,133.892,116.584,133.892z" />
            <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="64.2637" y1="150.0975" x2="86.2544" y2="150.0975">
              <stop offset="0" style="stop-color:#3EA1DA" />
              <stop offset="1" style="stop-color:#003150" />
            </linearGradient>
            <path fill="url(#SVGID_3_)" d="M82.777,157.467c-0.537,0.55-1.272,0.873-2.041,0.873H67.933l2.588-16.484h7.372
      C84.802,141.855,89.725,150.354,82.777,157.467z" />
            <g>
              <path fill="#3EA1DA" d="M159.602,158.34l6.631-41.87c2.155-13.526,11.467-14.052,21.522-14.052c4.189,0,11.754,0.287,15.273,0.431
        l-1.628,10.27h-15.561c-5.386,0-6.463,1.197-7.302,6.392l-0.838,5.242h20.875l-1.652,10.486h-20.899l-3.639,23.101H159.602z" />
              <path fill="#3EA1DA" d="M211.233,158.34h-11.898l4.836-30.642c0.479-2.993,1.006-5.506,1.699-8.379
        c5.172-2.944,12.042-4.189,17.883-4.189c1.652,0,3.16,0.072,4.549,0.263l-2.514,9.887c-0.813-0.096-1.891-0.168-2.824-0.168
        c-2.179,0-4.787,0.431-6.392,1.197c-0.454,1.723-0.838,3.806-1.149,5.721L211.233,158.34z" />
              <path fill="#3EA1DA" d="M249.427,115.13c12.161,0,15.8,5.123,15.8,13.693c0,2.323-0.263,4.884-0.694,7.684
        c-0.191,1.197-0.431,2.466-0.742,3.687c-4.86,0.909-13.526,1.819-19.295,2.13l-6.44,0.359c-0.048,0.431-0.072,0.814-0.072,1.173
        c0,4.046,2.538,5.147,7.613,5.147c5.698,0,10.94-0.598,15.298-1.149l-0.455,9.337c-4.404,0.742-10.628,1.723-18.815,1.723
        c-11.467,0-15.226-5.961-15.226-14.866c0-2.178,0.239-4.549,0.622-7.038C229.462,121.545,235.327,115.13,249.427,115.13z
         M244.951,133.946c2.393-0.119,5.961-0.431,8.019-0.694c0.12-0.407,0.239-0.982,0.311-1.389c0.12-0.79,0.191-1.508,0.191-2.178
        c0-3.28-1.58-5.027-5.554-5.027c-6.487,0-7.972,4.046-8.857,9.6L244.951,133.946z" />
              <path fill="#3EA1DA" d="M297.819,115.704h12.257l-28.679,58.34h-12.281l9.672-18.816l-10.485-39.524h12.784l5.602,23.963
        L297.819,115.704z" />
          </svg>
        </a>
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="brand">
                <h1><span style="font-family: 'Exo 2', sans-serif;">Frey</span> {{site.subtitle}}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{content}}

    <footer class="footer">
      <div class="container">
        <div class="col-sm-2">
          <a class ="navbar-brand navbar-brand-logo" href="http://freyproject.io/">
            <div class="logo">
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" class="img-fluid" viewBox="0 0 260 81.19">
              <defs>
                <style>
                  .cls-1 {
                    fill: #fff;
                  }
                </style>
              </defs>
              <title>Frey-White</title>
              <path class="cls-1" d="M132.7,109.45H75.45A19.61,19.61,0,0,1,94.81,92.94h34.83C137.47,92.94,142,103.56,132.7,109.45Z" transform="translate(-67.61 -92.94)" />
              <path class="cls-1" d="M116.32,133.93H71.53l2.64-16.51h40.78c7.3,0,11.73,9.23,4.78,15.24A5.21,5.21,0,0,1,116.32,133.93Z" transform="translate(-67.61 -92.94)" />
              <path class="cls-1" d="M82.47,157.54a2.87,2.87,0,0,1-2,.87H67.61L70.2,141.9h7.38C84.5,141.9,89.43,150.41,82.47,157.54Z" transform="translate(-67.61 -92.94)" />
              <path class="cls-1" d="M159.4,158.41,166,116.48c2.16-13.54,11.48-14.07,21.55-14.07,4.19,0,11.77.29,15.29.43l-1.63,10.28H185.67c-5.39,0-6.47,1.2-7.31,6.4l-.84,5.25h20.9l-1.65,10.5H175.84l-3.64,23.13Z" transform="translate(-67.61 -92.94)" />
              <path class="cls-1" d="M211.1,158.41H199.19L204,127.73c.48-3,1-5.51,1.7-8.39,5.18-2.95,12.06-4.2,17.91-4.2a33.61,33.61,0,0,1,4.55.26l-2.52,9.9a26.06,26.06,0,0,0-2.83-.17,16.55,16.55,0,0,0-6.4,1.2c-.46,1.73-.84,3.81-1.15,5.73Z" transform="translate(-67.61 -92.94)"
              />
              <path class="cls-1" d="M249.35,115.14c12.18,0,15.82,5.13,15.82,13.71a51.38,51.38,0,0,1-.7,7.69c-.19,1.2-.43,2.47-.74,3.69a181.17,181.17,0,0,1-19.32,2.13l-6.45.36a10.61,10.61,0,0,0-.07,1.17c0,4.05,2.54,5.15,7.62,5.15a120.69,120.69,0,0,0,15.32-1.15l-.46,9.35A107.76,107.76,0,0,1,241.53,159c-11.48,0-15.25-6-15.25-14.89a47,47,0,0,1,.62-7C229.35,121.57,235.23,115.14,249.35,115.14ZM244.86,134c2.4-.12,6-.43,8-.7.12-.41.24-1,.31-1.39a14.62,14.62,0,0,0,.19-2.18c0-3.28-1.58-5-5.56-5-6.5,0-8,4.05-8.87,9.61Z"
                transform="translate(-67.61 -92.94)" />
              <path class="cls-1" d="M297.8,115.72h12.27l-28.72,58.42h-12.3l9.68-18.84-10.5-39.58H281l5.61,24Z" transform="translate(-67.61 -92.94)" />
            </svg>
            </div>
          </a>
        </div>
        <div class="col-sm-3">
          <div class="copyright">
            &copy; 2016 Frey – All rights reserved
          </div>
        </div>
        <nav class="pull-right">
          <ul>
            <li>
              <a href="#">
                Getting Started
              </a>
            </li>
            <li>
              <a href="#">
                 Docs
              </a>
            </li>
            <li>
              <a href="http://github.com/kvz/frey">
                 Github
              </a>
            </li>
            <li>
              <a href="">
                FAQ
              </a>
            </li>
            <li>
              <a href="#">
                Contact Us
              </a>
            </li>
          </ul>
        </nav>

      </div>
    </footer>
  </div>
</body>
<!--   Core JS Files   -->
<script src="assets/js/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/material.min.js"></script>

<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="assets/js/nouislider.min.js" type="text/javascript"></script>

<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
<script src="assets/js/bootstrap-datepicker.js" type="text/javascript"></script>

<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
<script src="assets/js/material-kit.js" type="text/javascript"></script>

<script type="text/javascript">
  $().ready(function() {
    // the body of this function is in assets/material-kit.js
    materialKit.initSliders();
    window_width = $(window).width();

    if (window_width >= 992) {
      big_image = $('.wrapper > .header');

      $(window).on('scroll', materialKitDemo.checkScrollForParallax);
    }

  });
</script>

</html>