.main {
  background-color: #EFF2F5;
}
.row {
  background-color: #FFFFFF;
  padding-right: 100px;
  
}
.col-md-8 {
  padding: 40px;
  background-color: #FFFFFF;
}
.col-md-3 {
  background-clip: content-box;
  height: 2000px;
  width: 350px;
}
.bg-color {
  background-color: #EFF2F5;
}
.panel-default {
  width: 290px;
  margin-top: 40px;
  padding: 0 0 0 40px;
  background-color: #EFF2F5;
  box-shadow: none;
}
.list-group-item {
  background-color: #EFF2F5;
}
div.subitem a.list-group-item {
    padding-left: 30px;
}
h3 {
  margin-top: 30px;
  color: #003151;
}
p {
  margin-top: 40px;
  color: #A2A2A2;
}

ol {
  color: #A2A2A2;
}
span.highlight {
  background-color: #F83824;
  color: #000000;
}