<div class="homepage-terminal-example">
  <p class="m-b-md">
    <span class="highlighted-red">kvs</span> at <span class="highlighted-orange">mbp</span> in <span class="highlighted-red"> ~/code/uppy-server/infra </span> on <span class="highlighted-pink">frey*</span>
    <br>
    <span class="text-muted">$ frey--help
   <br>
   Usage: frey <command> [options]
   <br><br>
   Commands:</br>
     completion &nbsp;&nbsp;install CLI auto completion</br>
     config</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;V<span class="text-muted">loads, merges, renders, writes configuration</br>
     prepare</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;V<span class="text-muted">installs dependencies like Terraform</br>
     refresh</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;V<span class="text-muted">refreshes current infra stats and saves to terraform.tfstate</br>
     completion</span>&nbsp;&nbsp;&nbsp;V<span class="text-muted">install CLI auto completion</br>
     config</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;V<span class="text-muted">loads, merges, renders, writes configuration</br>
     prepare</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;V<span class="text-muted">installs dependencies like Terraform</br>
     refresh</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;V<span class="text-muted">refreshes current infra stats and saves to terraform.tfstate</br>
     docbuild&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Build docs</br>
     restore&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Restore latest state backup</br>
 </span>
  </p>
</div>