<div class="panel panel-default">
  <div id="sidebar" class="list-group">
    <a href="#" class="list-group-item"><i class="icon-dashboard"></i><span style="font-family: 'Exo 2', sans-serif;">Documentation Home</span></a>
    <a href="#users" class="list-group-item" data-toggle="collapse" data-parent="#sidebar"><i class="icon-group"></i><span style="font-family: 'Exo 2', sans-serif;">Upgrading and Compatibility</span></a>
    <div id="users" class="list-group subitem collapse in">
      <a href="#" class="list-group-item"><i class="icon-caret-right"></i>Upgrading Freyfile</a>
      <a href="#" class="list-group-item"><i class="icon-caret-right"></i>Compatibility Promise</a>
      <a href="#" class="list-group-item"><i class="icon-caret-right"></i>Specific Version Details</a>
    </div>
    <a href="#articles" class="list-group-item" data-toggle="collapse" data-parent="#sidebar"><i class="icon-file-text"></i><span style="font-family: 'Exo 2', sans-serif;">Freyfile Internals</span></a>
    <a href="#articles" class="list-group-item" data-toggle="collapse" data-parent="#sidebar"><i class="icon-file-text"></i><span style="font-family: 'Exo 2', sans-serif;">Frey Commands (FC)</span></a>
    <a href="#articles" class="list-group-item" data-toggle="collapse" data-parent="#sidebar"><i class="icon-file-text"></i><span style="font-family: 'Exo 2', sans-serif;">Frey Agent</span></a>
    <a href="#articles" class="list-group-item" data-toggle="collapse" data-parent="#sidebar"><i class="icon-file-text"></i><span style="font-family: 'Exo 2', sans-serif;">Guides</span></a>
    <a href="#articles" class="list-group-item" data-toggle="collapse" data-parent="#sidebar"><i class="icon-file-text"></i><span style="font-family: 'Exo 2', sans-serif;">FAQ</span></a>
  </div>
</div>