<div class="panel panel-default">
  <div id="sidebar" class="list-group">
    <a href="#" class="list-group-item"><i class="icon-dashboard"></i><span style="font-family: 'Exo 2', sans-serif;">About</span></a>
    <a href="#users" class="list-group-item" data-toggle="collapse" data-parent="#sidebar"><i class="icon-group"></i><span style="font-family: 'Exo 2', sans-serif;">Our Latest Posts</span></a>
    <div id="users" class="list-group subitem collapse in">
      <a href="#" class="list-group-item"><i class="icon-caret-right"></i>Kogi videoegan</a>
      <a href="#" class="list-group-item"><i class="icon-caret-right"></i>Authentic meggings</a>
      <a href="#" class="list-group-item"><i class="icon-caret-right"></i>Next level meditation</a>
      <a href="#" class="list-group-item"><i class="icon-caret-right"></i>Iuogi Jouhuk</a>
      <a href="#" class="list-group-item"><i class="icon-caret-right"></i>Meggings Authentic</a>
    </div>
  </div>
</div>